{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-console": 2,
    "no-unused-vars": 2,
    "semi": [
      "error",
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "import/no-unresolved": "off",
    "import/no-cycle": 2,
    "react/default-props-match-prop-types": 2,
    "react/jsx-props-no-spreading": 1,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "./src_test/**",
          "./test/**",
          "./src/tests/**",
          "./tests/ui/**"
        ]
      }
    ]
  }
}