$theme-colors: (
  "primary": $custom-primary,
  "light": $custom-light,
  "success": $custom-success
);

$custom-colors: (
  "main-header": $custom-purple,
  "main-bg": $custom-dark,
  "main-container": $custom-dark-grey,
  "main-border": $custom-grey,
  "user-bio-bg": $custom-light,
  "user-bio-font": $custom-dark-grey
);

$custom-theme: map-merge($theme-colors, $custom-colors);