.userProfile__bio {
  border-radius: 5px;
  color: map-get($custom-theme, "user-bio-font");
  background-color: map-get($custom-theme, "user-bio-bg");
}

.userProfile__img {
  width: 200px;
  height: 200px;
}

.userProfile__repos-list {
  max-height: 400px;
  overflow-y: scroll;
}

.userProfile__info-list .list-group-item {
  color: map-get($custom-theme, "light");
  background-color: transparent;
  border-color: map-get($custom-theme, "main-border");
}
